.bandeau {
    background-color: #333; 
    padding: 10px; 
}

.menu {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: space-around; 
}

.menu li {
    margin: 0 15px; 
}

.menu a {
    color: white; 
    text-decoration: none; 
    padding: 10px 15px; 
    transition: background-color 0.3s; 
}

.menu a:hover {
    background-color: #555; /* Couleur de fond au survol */
}

.container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.container img {
    margin-right: 20px;
    width: 400px;
}

.text {
    max-width: 600px;
}

.container2 {
    display: flex;
    gap: 20px;
}

.biographie{
    display: flex;
    align-items: flex-start;
}

.image-bio {
    margin-right: 20px;
    width: 220px;
    height: 130px;
}   

.texte-2 {
    flex: 1;
    font-size: 20px;
}

.container4 img {
    width: 100%;
}

.container5 img{
    height: 457px;
    width: 571.27px;
}
